services:
  influxdb:
    image: influxdb:2
    container_name: influxdb2
    ports:
      - "${INFLUXDB_PORT:-8086}:8086"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: ${INFLUXDB_INIT_USERNAME:-admin}
      DOCKER_INFLUXDB_INIT_PASSWORD: ${INFLUXDB_INIT_PASSWORD:-admin}
      DOCKER_INFLUXDB_INIT_ORG: ${INFLUXDB_ORG}
      DOCKER_INFLUXDB_INIT_BUCKET: ${INFLUXDB_BUCKET}
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${INFLUXDB_TOKEN}
    volumes:
      - ./influxdb-data:/var/lib/influxdb2

  questdb:
    image: questdb/questdb:latest
    container_name: questdb
    ports:
      - "${QUESTDB_HTTP_PORT:-9000}:9000"
      - "${QUESTDB_ILP_PORT:-9009}:9009"
    volumes:
      - ./questdb-data:/var/lib/questdb


  cube: 
    container_name: cube
    environment: 
      - CUBEJS_DEV_MODE=true
    image: cubejs/cube:latest
    ports: 
      - "${CUBE_HTTP_PORT:-4000}:4000"
    volumes: 
      - "./cube:/cube/conf"
    depends_on:
      - questdb